*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css code */

body{ 
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}


.btn{
    font-size: 20px;
    font-weight: 600;
    background-color: #F15B22;
    color: #fff;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.title{
    font-size: 40px;
    color: #151414;
    font-weight: 700;
}


/* section code */
.hero_wrapper{
    background-image: url('../images/banner/banner1.png');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 216px 0 166px;
}

.hero_content {
    text-align: right;
    max-width: 525px;
    margin-left: auto;
}

.hero_content h1{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    padding-bottom: 24px;
}

.hero_content p{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    max-width: 494px;
    padding-bottom: 32px;
    margin-left: auto;
}

/* failure area */
.failure_wrapper{
    padding-top: 131px;
}

.failures_container {
    display: flex;
    align-items: center;
    margin-left: 206px;
    margin-right: 322px;
    gap: 87px;
    background-image: url('../images/shape.png');
    background-repeat: no-repeat;
    background-position: 22px bottom;
}

.failures_img img{
    vertical-align: middle;
}

.failure_content p{
    font-size: 16px;
    color: #444343;
    padding-top: 24px;
    max-width: 416px;
    line-height: 26px;
    padding-bottom: 16px;
}

.failure_content ul li{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}

.failure_content ul li img{
    max-width: 24px;
    margin-right: 10px;
}


/* plan area */
.plan_wrapper{
    padding-top: 130px;
}

.plan_heading{
    text-align: center;
}

.plan_card_wrap{
    display: flex;
    justify-content: space-between;
}

.plan_card{
    text-align: center;
    margin-top: 61px;
}

.plan_card img{
    max-width: 92px;
}

.plan_card h3{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    padding-top: 24px;
}

.plan_card p{
    font-size: 25px;
    color: #737272;
    font-weight: 500;
    padding-top: 16px;
}

/* banner area */
.banner_wrapper{
    padding-top: 130px;
}
.banner_container{
    background: linear-gradient(90deg,rgba(241, 91, 34, 1) 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 59px 64px;
    border-radius: 8px;
}

.banner_content h2{
    color: #ffffff;
    max-width: 459px;
    padding-bottom: 24px;
}

.banner_content .btn{
    background-color: #fff;
    color: #F15B22;
}


/* footer area */
.footer_wrapper{
    background-color: #151414;
    padding: 130px 0;
    margin-top: 130px;
}

.footer_content_wrap{
    display: flex;
    justify-content: space-between;
}

.footer_content h2{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px;
}

.footer_content p{
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 24px;
    max-width: 485px;
}

.footer_info a{
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer_social{
    display: flex;
    gap: 17px;
}

.footer_social img{
    max-width: 47px;
}

.footer_form h3{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 31px;
}

.footer_form input[type="email"]{
    height: 64px;
    width: 325px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    padding: 21px;
    color: #fff;
}

.footer_form input[type="email"]:focus{
    outline: none;
}

.footer_form input[type="email"]::placeholder{
    color: #fff;
}

.footer_form .btn{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #005FAC;
    margin-top: 16px;
}